body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  margin: 0;

  background-image: url("img/desert-background.png");
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;

  font-family: "Ga Maamli", sans-serif;
}

body .hide {
  display: none;
}

h1 {
  font-size: 60px;
  color: wheat;
  text-shadow: -5px 4px 3px black;
}

h4 {
  margin: 0;
}

.link {
  /* text-decoration: none; */
  color: black;
  font-size: 20px;
}

.link:hover {
  color: rgb(83, 83, 83);
}

#canvas-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

canvas {
  background-color: black;
  border-radius: 10px;
  border: 3px solid wheat;
  box-shadow: -3px 7px 15px 6px black;
}

#icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;

  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  padding-top: 10px;

  width: 50%;
}

#icon-container svg {
  height: 50px;
  width: 50px;

  border-radius: 100%;

  transition: 0.5s;

  cursor: pointer;
  fill: rgba(0, 0, 0, 0.6);
}

#icon-container svg:hover {
  background-color: rgba(92, 92, 92, 0.377);
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  border-radius: 10px;

  background-position: center;
  background-size: cover;
}

.start-screen {
  background-image: url(img/start-screen-bg.jpg);
}

.end-screen-win {
  background-image: url(img/end-screen-win-bg.jpg);
}

.end-screen-lost {
  background-image: url(img/end-screen-lost-bg.jpg);
}

.pause-screen {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 100px;
  text-shadow: -4px 4px 5px white;
}

button {
  padding: 15px;
  font-size: 30px;

  font-family: "Ga Maamli", sans-serif;

  border-radius: 10px;
  border: 0;
  box-shadow: -4px 4px 10px black;

  background-color: wheat;

  cursor: pointer;

  transition: 0.17s;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-touch-action: manipulation;
}

#imp-bg {
  background-color: wheat;
  box-shadow: -4px 4px 10px black;
  border-radius: 10px;
  padding: 50px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

button + button {
  margin-top: 50px;
}

h4:has(.link) {
  padding-top: 20px;
}

button:hover {
  transform: scale(1.1);
}

#lost-title,
#win-title {
  font-size: 60px;
  margin: 0 0 30px 0;
  text-shadow: -2px 3px 2px black;
}

#lost-title {
  color: red;
}

#win-title {
  color: green;
}

.smartphone-icon {
  display: none;
  width: 300px;
}

.arrow {
  position: absolute;
  bottom: 3%;
  cursor: pointer;
  user-select: none;
  display: none;
  height: 60px;
  width: 60px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-touch-action: manipulation;
}

.right-arrow {
  left: 110px;
}

.left-arrow {
  left: 30px;
}

.jump-arrow {
  right: 30px;
}

.throw-arrow {
  right: 110px;
}

.howToPlayPopUp-bg {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.3);
}

.howToPlayPopUp {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  background-color: blanchedalmond;
  border-radius: 10px;

  width: 50%;
  min-width: 310px;
  max-width: 400px;

  padding: 20px 0;

  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.howToPlayPopUp-headline {
  text-align: center;
  font-size: 30px;
}

.close-pop-up-icon {
  position: absolute;

  top: 5px;
  right: 10px;

  width: 50px;

  fill: rgb(0, 0, 0);

  transition: 0.2s;
}

.close-pop-up-icon:hover {
  fill: rgba(0, 0, 0, 0.7);
}

.howToPlayPopUp-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 30px;

  min-width: 250px;
}

.howToPlayPopUp-icon {
  width: 80px;
  height: 80px;
}

.howToPlayPopUp-icon-mobile {
  display: none;
}

.howToPlayPopUp-info {
  font-size: 20px;
}

@media (hover: none) and (pointer: coarse) {
  .arrow {
    display: block;
  }

  .howToPlayPopUp-icon {
    display: none;
  }

  .howToPlayPopUp-icon-mobile {
    display: block;

    width: 60px;
    height: 60px;

    padding: 8px 0;
  }

  .pause-game-section {
    display: none;
  }
}

@media (hover: none) and (pointer: coarse) {
  #canvas {
    width: 100%;
    border: 0px;
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
    border-radius: 0;
  }

  h1 {
    display: none;
  }

  #canvas-container {
    width: 100%;
    max-width: 100%;
  }

  .arrow {
    display: block;
  }
}

@media (max-width: 550px) {
  #canvas-container {
    display: none;
  }

  .smartphone-icon {
    display: block;
  }
}

@media (max-width: 400px) {
  h1 {
    display: none;
  }
}

@media (max-height: 730px) {
  h1 {
    display: none;
  }
}

@media (max-height: 600px) {
  .howToPlayPopUp {
    height: 100%;
  }

  #canvas-container {
    width: fit-content;
  }

  .howToPlayPopUp-headline {
    font-size: 25px;
  }

  .howToPlayPopUp-info {
    font-size: 20px;
  }

  .howToPlayPopUp-icon {
    width: 60px;
  }
}

@media (max-height: 490px) {
  #canvas {
    height: 100vh;
    border: 0px;
  }
}

.preload-images {
  height: 0;
  width: 0;
  position: absolute;
  background-image: url(img/img_pollo_locco/img/6_salsa_bottle/salsa_bottle.png);
}
